@model string

<div class="row">
    <div class="col-md-6">
        <h2>Add a new role</h2>
        <form asp-action="AddRole" method="post">
            <div class="mb-3">
                <label for="roleName">Role Name</label>
                <input type="text" id="roleName" name="roleName" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Add Role</button>
        </form>
    </div>
</div>
