   <!-- Header Start -->
    <div class="container header bg-white p-0 mt-3">
        <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
            <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4">Find A <span class="text-primary">Blood Donor</span> To Save A Life</h1>
                <p class="animated fadeIn mb-4 pb-2">
                Finding a blood donor is not just a necessity; it is an act of kindness that can change lives. Every drop of blood holds the power to heal, to provide hope, and to offer a second chance. When we come together as a community, we can bridge the gap between those in need and those willing to give.
                </p>
                <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
            </div>

            <div class="col-md-6 animated fadeIn">
                <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item">
                        <img class="img-fluid" src="~/img/1.jpg" alt="">
                    </div>
                    <div class="owl-carousel-item">
                        <img class="img-fluid" src="~/img/2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->